body {
  scrollbar-gutter: stable;
}

.modal-dialog {
  overflow: visible;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  opacity: 0;
  max-width: calc(100% - 60px);

  transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete, opacity 0.3s;
  animation: hideModal 0.3s forwards;
}

@media (max-width: 678px) {
  .modal-dialog {
    min-width: 260px;
  }
}

.modal-dialog::backdrop {
  transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete, opacity 0.3s;
  animation: hideModal 0.3s forwards;
}

.modal-dialog[open] {
  opacity: 1;
  animation: showModal 0.5s forwards;
}

.modal-dialog[open]::backdrop {
  animation: showModalBackdrop 0.8s forwards;
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showModalBackdrop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hideModal {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal-dialog__wrapper {
  overflow: hidden;
  border-radius: 3px;
  background: white;
  box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.5);
  max-height: 80%;
}

.modal-dialog__close {
  cursor: pointer;
  color: white;
  display: block;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  padding: 4px;
}

.modal-dialog__close:hover {
  background-color: rgba(0 0 0 / 20%);
}

.modal-dialog__close img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal-contract {
  display: flex;
  align-items: center;
  max-width: 600px;
}

@media (max-width: 678px) {
  .modal-contract {
    flex-direction: column;
    max-width: 300px;
    background-image: url(images/modal-contract-img.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 80vh;
    min-height: 420px;
  }

  .modal-contract__image {
    max-height: 100%;
    object-fit: cover;
    visibility: hidden;
  }
}

.modal-contract__left {
  flex: 1;
  align-self: center;
  padding: 2rem;
}

.modal-contract__right {
  flex: 2;
  align-self: stretch;
}

.modal-contract__title {
  margin: 0 0 10px;
  font-size: 21px;
  color: #000;
}

@media (max-width: 678px) {
  .modal-contract__title {
    text-align: center;
  }
}

.modal-contract__text {
  font-size: 16px;
  color: #797979;
  line-height: normal;
}

@media (max-width: 678px) {
  .modal-contract__text {
    text-align: center;
  }
}

.modal-contract__image {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 678px) {
  .modal-contract__image {
    max-height: 100%;
    visibility: hidden;
  }
}

.modal-contract__btn {
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: block;
  background-color: #74c2eb;
  color: white;
  border: none;
  outline: none !important;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 0 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal-contract__btn:hover {
  background-color: #4191bd;
}

.modal-dialog::backdrop {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
}