/* Modal Common Styles */

.modal-dialog {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  --animation-time: 0.4s;
}

@media (max-width: 678px) {
  .modal-dialog {
    min-width: 260px;
  }
}

.modal-dialog__backdrop {
  position: absolute;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0 0 0 / 40%);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.modal-dialog.opening,
.modal-dialog.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog.opening,
.modal-dialog.closing {
  pointer-events: none;
}

.modal-dialog.opening .modal-dialog__wrapper {
  animation: showModalWrapper var(--animation-time) forwards;
}

.modal-dialog.opening .modal-dialog__backdrop {
  animation: showModalBackdrop var(--animation-time) forwards;
}

.modal-dialog.closing .modal-dialog__wrapper {
  animation: hideModalWrapper var(--animation-time) forwards;
}

.modal-dialog.closing .modal-dialog__backdrop {
  animation: hideModalBackdrop var(--animation-time) forwards;
}

.modal-dialog__wrapper {
  position: relative;
  z-index: 120;
}

.modal-dialog__container {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  background: white;
  box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.5);
}

.modal-dialog__content {
  max-height: 80svh;
  overflow-y: auto;
  scrollbar-width: thin;
}

@media (max-width: 678px) {
  .modal-dialog__content {
    overflow: hidden;
  }
}

.modal-dialog__close {
  cursor: pointer;
  color: white;
  display: block;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  padding: 4px;
}

.modal-dialog__close:hover {
  background-color: rgba(0 0 0 / 20%);
}

.modal-dialog__close img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes showModalWrapper {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hideModalWrapper {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes showModalBackdrop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hideModalBackdrop {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Modal Specific Styles: Modal Online Contract */

.modal-contract {
  display: flex;
  align-items: center;
  max-width: 600px;
}

@media (max-width: 678px) {
  .modal-contract {
    flex-direction: column;
    max-width: 300px;
    background-image: url(images/modal-contract-img.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 80vh;
    min-height: 420px;
  }

  .modal-contract__image {
    max-height: 100%;
    object-fit: cover;
    visibility: hidden;
  }
}

.modal-contract__left {
  flex: 1;
  align-self: center;
  padding: 2rem;
}

.modal-contract__right {
  flex: 2;
  align-self: stretch;
}

.modal-contract__title {
  margin: 0 0 10px;
  font-size: 21px;
  color: #000;
}

@media (max-width: 678px) {
  .modal-contract__title {
    text-align: center;
  }
}

.modal-contract__text {
  font-size: 16px;
  color: #797979;
  line-height: normal;
}

@media (max-width: 678px) {
  .modal-contract__text {
    text-align: center;
  }
}

.modal-contract__image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 678px) {
  .modal-contract__image {
    /* max-height: 100%; */
    visibility: hidden;
  }
}

.modal-contract__btn {
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: block;
  background-color: #74c2eb;
  color: white;
  border: none;
  outline: none !important;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 0 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal-contract__btn:hover {
  background-color: #4191bd;
}

.modal-dialog::backdrop {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
}